language: ruby
services:
- postgresql
addons:
  postgresql: '9.4'
before_script:
- psql -c 'create database "somleng-rtd_test";' -U postgres
script:
- bundle exec rake db:schema:load
- bundle exec rake db:test:prepare
- bundle exec rake
